body {
	color: white;
	font-family: 'oswald', sans-serif;
	background: #000 ;
}
#wrapper { 
	width: 900px; 
	margin-right: auto; 
	margin-left: auto; 
	position: relative;
}
header { 
	display: block; 
	margin: auto; 
	position: relative;
}
#content { 
	display: block; 
	text-align:center;
}
footer { 
	padding: 10px; 
	text-align:center; 
	font-size: 0.7em;}
a {
	text-decoration: none;
	color: white;
}
p {
	margin: 0 !important;
	padding: 0 !important;
}
tr, td {
	margin: 0;
	padding: 0;
}