body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.15em;
    background: #000;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

header {
    display: block;
    margin: auto;
    position: relative;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.07em;
}

header h1,
header p {
    display: inline-block;
}

header p {
    margin-left: 30px;
}

#content {
    display: block;
    text-align: center;
}

table {
    margin: 0 auto;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

tr,
td {
    margin: 0;
    padding: 0;
}

tr p {
    margin-bottom: 5px;
}

footer {
    text-align: center;
}

footer div {
    width: 900px;
    margin: 0 auto;
}
/*INDEX*/

#instagram {
    border: 1px solid white;
    height: 149px;
    width: 258px;
}

#insta {
    color: black;
}

#insta1 {
    font-size: 16px;
    margin-top: 40px;
}

#insta2 {
    font-size: 24px;
}
/*FOOD*/

#text_food {
    border: 1px white solid;
    width: 778px;
    letter-spacing: 0.05em;
    margin: 0 auto;
    padding: 30px;
    font-size: 14px;
}

#text_food p {
    margin: 10px auto;
}

#text_food2 {
    border: 1px white solid;
    width: 778px;
    letter-spacing: 0.05em;
    margin: 0 auto;
    padding: 30px;
    font-size: 16px;
}

#text_food2 p {
    margin: 10px auto;
}
/*CAVE*/

#text {
    border: 1px white solid;
    font-size: 14px;
    width: 820px;
    margin: 0 auto;
    padding: 10px;
}

#text p {
    margin: 5px auto;
}
